{% extends 'base.html' %}
{% load static %}
{% block content %}
        <h1 class="h3_D"> Fale conosco e entre em contato: </h1>

        <section class="videos_container">
         <p>Telefone: 62 8192-3755 </p>
        </section>
        <section class="videos_container">
          <p>Instagram: emporio_taruma </p>
         </section>
         <section class="videos_container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1911.0364206243407!2d-49.2470787!3d-16.673238!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935ef17ef2872979%3A0xdd4ce9f0077c6de0!2sR.%20229%20-%20Goi%C3%A2nia%2C%20GO!5e0!3m2!1spt-BR!2sbr!4v1688448871112!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
         </section>

    <footer>
        <p>SQR V 0.01A</p>
    </footer>
    </body>
</html>
{% endblock %}
